In [1]:
import pandas as pd
import numpy as np
import ast
import warnings 
warnings.filterwarnings("ignore")

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')

In [4]:
movies.sample()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
855,56000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",NaN,16072,"[{""id"": 6091, ""name"": ""war""}, {""id"": 14643, ""n...",en,Gods and Generals,The film centers mostly around the personal an...,4.362535,"[{""name"": ""Warner Bros. Pictures"", ""id"": 174},...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-02-21,12923936,214.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The nations heart was touched by...,Gods and Generals,6.1,48

In [5]:
movies.shape

(4803, 20)

In [6]:
credits  = pd.read_csv('tmdb_5000_credits.csv')

In [7]:
credits.sample()

,movie_id,title,cast,crew
4708,354624,Heroes of Dirt,"[{""cast_id"": 0, ""character"": ""Phineas Cooper"",...","[{""credit_id"": ""5694d6329251414b6e001c8a"", ""de..."

In [8]:
credits.shape

(4803, 4)

In [9]:
movies = movies.merge(credits,on='title')

In [10]:
movies.shape

(4809, 23)

In [11]:
movies.sample()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
2963,10800000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",NaN,11917,"[{""id"": 8636, ""name"": ""blood splatter""}, {""id""...",en,Saw V,Detective Hoffman is seemingly the last person...,32.943848,"[{""name"": ""Lionsgate"", ""id"": 1632}, {""name"": ""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2008-10-23,113857533,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,You Won't Believe How It Ends,Saw V,5.9,820,11917,"[{""cast_id"": 5, ""character"": ""John Kramer"", ""c...","[{""credit_id"": ""536b9e6e0e0a2647c400c3d8"", ""de..."

In [12]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

### Remove Unwanted columns and select only useful columns

In [13]:
movies = movies[['movie_id','title','overview','genres','keywords','cast', 'crew']]

In [14]:
movies.sample()

,movie_id,title,overview,genres,keywords,cast,crew
3015,9794,Employee of the Month,When he hears that the new female employee dig...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...","[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 15...","[{""cast_id"": 1, ""character"": ""Zack"", ""credit_i...","[{""credit_id"": ""52fe452ec3a36847f80c0d9b"", ""de..."

### Checking for null values

In [15]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

- Since there are only three null values in the overview column, we will drop these rows.

In [16]:
movies.dropna(inplace=True)

In [17]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

### Checking for Duplicate values

In [18]:
movies.duplicated().sum()

0

In [19]:
movies.sample()

,movie_id,title,overview,genres,keywords,cast,crew
558,35,The Simpsons Movie,After Homer accidentally pollutes the town's w...,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...","[{""id"": 494, ""name"": ""father son relationship""...","[{""cast_id"": 2, ""character"": ""Homer / Itchy / ...","[{""credit_id"": ""52fe4211c3a36847f8001521"", ""de..."

### genres

In [20]:
movies['genres'] =  movies['genres'].apply(lambda x : [genre['name'] for genre in ast.literal_eval(x)])

In [21]:
movies.sample()

,movie_id,title,overview,genres,keywords,cast,crew
3475,92591,Bernie,"In this true story in the tiny, rural town of ...","[Comedy, Crime, Drama]","[{""id"": 17989, ""name"": ""prison visit""}, {""id"":...","[{""cast_id"": 13, ""character"": ""Bernie Tiede"", ...","[{""credit_id"": ""52fe49039251416c750baba5"", ""de..."

### keywords

In [22]:
movies.iloc[1].keywords

'[{"id": 270, "name": "ocean"}, {"id": 726, "name": "drug abuse"}, {"id": 911, "name": "exotic island"}, {"id": 1319, "name": "east india trading company"}, {"id": 2038, "name": "love of one\'s life"}, {"id": 2052, "name": "traitor"}, {"id": 2580, "name": "shipwreck"}, {"id": 2660, "name": "strong woman"}, {"id": 3799, "name": "ship"}, {"id": 5740, "name": "alliance"}, {"id": 5941, "name": "calypso"}, {"id": 6155, "name": "afterlife"}, {"id": 6211, "name": "fighter"}, {"id": 12988, "name": "pirate"}, {"id": 157186, "name": "swashbuckler"}, {"id": 179430, "name": "aftercreditsstinger"}]'

In [23]:
movies['keywords'] =  movies['keywords'].apply(lambda x : [keyword['name'] for keyword in ast.literal_eval(x)])

In [24]:
movies.sample(2)

,movie_id,title,overview,genres,keywords,cast,crew
3272,23570,The Pallbearer,Aspiring architect Tom Thompson is told by mys...,"[Comedy, Romance]","[independent film, mistaken identity]","[{""cast_id"": 1, ""character"": ""Tom Thompson"", ""...","[{""credit_id"": ""561e23c69251410d8f001946"", ""de..."
693,210577,Gone Girl,With his wife's disappearance having become th...,"[Mystery, Thriller, Drama]","[based on novel, marriage crisis, disappearanc...","[{""cast_id"": 7, ""character"": ""Nick Dunne"", ""cr...","[{""credit_id"": ""56d1e21e9251413e5f00981a"", ""de..."

### cast

In [25]:
movies.iloc[1].cast

'[{"cast_id": 4, "character": "Captain Jack Sparrow", "credit_id": "52fe4232c3a36847f800b50d", "gender": 2, "id": 85, "name": "Johnny Depp", "order": 0}, {"cast_id": 5, "character": "Will Turner", "credit_id": "52fe4232c3a36847f800b511", "gender": 2, "id": 114, "name": "Orlando Bloom", "order": 1}, {"cast_id": 6, "character": "Elizabeth Swann", "credit_id": "52fe4232c3a36847f800b515", "gender": 1, "id": 116, "name": "Keira Knightley", "order": 2}, {"cast_id": 12, "character": "William \\"Bootstrap Bill\\" Turner", "credit_id": "52fe4232c3a36847f800b52d", "gender": 2, "id": 1640, "name": "Stellan Skarsg\\u00e5rd", "order": 3}, {"cast_id": 10, "character": "Captain Sao Feng", "credit_id": "52fe4232c3a36847f800b525", "gender": 2, "id": 1619, "name": "Chow Yun-fat", "order": 4}, {"cast_id": 9, "character": "Captain Davy Jones", "credit_id": "52fe4232c3a36847f800b521", "gender": 2, "id": 2440, "name": "Bill Nighy", "order": 5}, {"cast_id": 7, "character": "Captain Hector Barbossa", "credit_id": "52fe4232c3a36847f800b519", "gender": 2, "id": 118, "name": "Geoffrey Rush", "order": 6}, {"cast_id": 14, "character": "Admiral James Norrington", "credit_id": "52fe4232c3a36847f800b535", "gender": 2, "id": 1709, "name": "Jack Davenport", "order": 7}, {"cast_id": 13, "character": "Joshamee Gibbs", "credit_id": "52fe4232c3a36847f800b531", "gender": 2, "id": 2449, "name": "Kevin McNally", "order": 8}, {"cast_id": 11, "character": "Lord Cutler Beckett", "credit_id": "52fe4232c3a36847f800b529", "gender": 2, "id": 2441, "name": "Tom Hollander", "order": 9}, {"cast_id": 19, "character": "Tia Dalma", "credit_id": "52fe4232c3a36847f800b549", "gender": 1, "id": 2038, "name": "Naomie Harris", "order": 10}, {"cast_id": 8, "character": "Governor Weatherby Swann", "credit_id": "52fe4232c3a36847f800b51d", "gender": 2, "id": 378, "name": "Jonathan Pryce", "order": 11}, {"cast_id": 37, "character": "Captain Teague Sparrow", "credit_id": "52fe4232c3a36847f800b5b3", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 12}, {"cast_id": 16, "character": "Pintel", "credit_id": "52fe4232c3a36847f800b53d", "gender": 2, "id": 1710, "name": "Lee Arenberg", "order": 13}, {"cast_id": 15, "character": "Ragetti", "credit_id": "52fe4232c3a36847f800b539", "gender": 2, "id": 1711, "name": "Mackenzie Crook", "order": 14}, {"cast_id": 18, "character": "Lieutenant Theodore Groves", "credit_id": "52fe4232c3a36847f800b545", "gender": 2, "id": 4031, "name": "Greg Ellis", "order": 15}, {"cast_id": 55, "character": "Cotton", "credit_id": "57e28d2ec3a3681a01005b5c", "gender": 2, "id": 1715, "name": "David Bailie", "order": 16}, {"cast_id": 17, "character": "Marty", "credit_id": "52fe4232c3a36847f800b541", "gender": 2, "id": 4030, "name": "Martin Klebba", "order": 17}, {"cast_id": 57, "character": "Ian Mercer", "credit_id": "57e28d78c3a36808b900bf4f", "gender": 0, "id": 939, "name": "David Schofield", "order": 18}, {"cast_id": 62, "character": "Scarlett", "credit_id": "57e28ec5c3a3681a50005855", "gender": 1, "id": 2450, "name": "Lauren Maher", "order": 19}, {"cast_id": 63, "character": "Giselle", "credit_id": "57e28ed692514123f5005635", "gender": 1, "id": 2452, "name": "Vanessa Branch", "order": 20}, {"cast_id": 60, "character": "Mullroy", "credit_id": "57e28db2c3a3681a01005bc7", "gender": 2, "id": 1714, "name": "Angus Barnett", "order": 21}, {"cast_id": 59, "character": "Murtogg", "credit_id": "57e28da192514118f7006008", "gender": 0, "id": 1713, "name": "Giles New", "order": 22}, {"cast_id": 58, "character": "Tai Huang", "credit_id": "57e28d8ec3a3681a01005bab", "gender": 2, "id": 22075, "name": "Reggie Lee", "order": 23}, {"cast_id": 64, "character": "Henry Turner", "credit_id": "57e29119925141151100a6cc", "gender": 2, "id": 61259, "name": "Dominic Scott Kay", "order": 24}, {"cast_id": 39, "character": "Mistress Ching", "credit_id": "52fe4232c3a36847f800b5bd", "gender": 1, "id": 33500, "name": "Takayo Fischer", "order": 25}, {"cast_id": 40, "character": "Lieutenant Greitzer", "credit_id": "52fe4232c3a36847f800b5c1", "gender": 2, "id": 1224149, "name": "David Meunier", "order": 26}, {"cast_id": 49, "character": "Hadras", "credit_id": "56d1871c92514174680010cf", "gender": 2, "id": 429401, "name": "Ho-Kwan Tse", "order": 27}, {"cast_id": 56, "character": "Clacker", "credit_id": "57e28d4b92514125710055cb", "gender": 0, "id": 1123, "name": "Andy Beckwith", "order": 28}, {"cast_id": 51, "character": "Penrod", "credit_id": "56ec8c14c3a3682260003c53", "gender": 2, "id": 1056117, "name": "Peter Donald Badalamenti II", "order": 29}, {"cast_id": 61, "character": "Cotton\'s Parrot (voice)", "credit_id": "57e28dcc9251412463005678", "gender": 2, "id": 21700, "name": "Christopher S. Capp", "order": 30}, {"cast_id": 65, "character": "Captain Teague", "credit_id": "58bc2a37c3a368663003740b", "gender": 2, "id": 1430, "name": "Keith Richards", "order": 31}, {"cast_id": 66, "character": "Captain Jocard", "credit_id": "58bc2a8e925141609e03a179", "gender": 2, "id": 2603, "name": "Hakeem Kae-Kazim", "order": 32}, {"cast_id": 67, "character": "Captain Ammand", "credit_id": "58e2a21ac3a36872af00f9c2", "gender": 0, "id": 70577, "name": "Ghassan Massoud", "order": 33}]'

In [26]:
movies['cast'] =  movies['cast'].apply(lambda x: [name['name'] for name in ast.literal_eval(x)][:5])

In [27]:
movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
1333,4944,Burn After Reading,When a disc containing memoirs of a former CIA...,"[Comedy, Drama]","[blackmail, paranoia, fitness-training, plasti...","[George Clooney, Frances McDormand, Brad Pitt,...","[{""credit_id"": ""569a8307c3a36872bb000465"", ""de..."
3505,35944,Lucky Break,Half-way through his 12-year prison sentence f...,"[Action, Comedy]",[],"[James Nesbitt, Olivia Williams, Timothy Spall...","[{""credit_id"": ""578d08adc3a3686efa002328"", ""de..."
2820,10611,Barbershop,A day in the life of a barbershop on the south...,"[Comedy, Drama]","[hairdresser, shop, neighbor, debt, meeting, h...","[Ice Cube, Anthony Anderson, Cedric the Entert...","[{""credit_id"": ""52fe43939251416c75015c7f"", ""de..."

### crew

In [28]:
movies.iloc[1].crew

'[{"credit_id": "52fe4232c3a36847f800b579", "department": "Camera", "gender": 2, "id": 120, "job": "Director of Photography", "name": "Dariusz Wolski"}, {"credit_id": "52fe4232c3a36847f800b4fd", "department": "Directing", "gender": 2, "id": 1704, "job": "Director", "name": "Gore Verbinski"}, {"credit_id": "52fe4232c3a36847f800b54f", "department": "Production", "gender": 2, "id": 770, "job": "Producer", "name": "Jerry Bruckheimer"}, {"credit_id": "52fe4232c3a36847f800b503", "department": "Writing", "gender": 2, "id": 1705, "job": "Screenplay", "name": "Ted Elliott"}, {"credit_id": "52fe4232c3a36847f800b509", "department": "Writing", "gender": 2, "id": 1706, "job": "Screenplay", "name": "Terry Rossio"}, {"credit_id": "52fe4232c3a36847f800b57f", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "52fe4232c3a36847f800b585", "department": "Editing", "gender": 2, "id": 1722, "job": "Editor", "name": "Craig Wood"}, {"credit_id": "52fe4232c3a36847f800b573", "department": "Sound", "gender": 2, "id": 947, "job": "Original Music Composer", "name": "Hans Zimmer"}, {"credit_id": "52fe4232c3a36847f800b555", "department": "Production", "gender": 2, "id": 2444, "job": "Executive Producer", "name": "Mike Stenson"}, {"credit_id": "52fe4232c3a36847f800b561", "department": "Production", "gender": 2, "id": 2445, "job": "Producer", "name": "Eric McLeod"}, {"credit_id": "52fe4232c3a36847f800b55b", "department": "Production", "gender": 2, "id": 2446, "job": "Producer", "name": "Chad Oman"}, {"credit_id": "52fe4232c3a36847f800b567", "department": "Production", "gender": 0, "id": 2447, "job": "Producer", "name": "Peter Kohn"}, {"credit_id": "52fe4232c3a36847f800b56d", "department": "Production", "gender": 0, "id": 2448, "job": "Producer", "name": "Pat Sandston"}, {"credit_id": "52fe4232c3a36847f800b58b", "department": "Production", "gender": 1, "id": 2215, "job": "Casting", "name": "Denise Chamian"}, {"credit_id": "52fe4232c3a36847f800b597", "department": "Art", "gender": 2, "id": 1226, "job": "Production Design", "name": "Rick Heinrichs"}, {"credit_id": "52fe4232c3a36847f800b59d", "department": "Art", "gender": 2, "id": 553, "job": "Art Direction", "name": "John Dexter"}, {"credit_id": "52fe4232c3a36847f800b591", "department": "Production", "gender": 1, "id": 3311, "job": "Casting", "name": "Priscilla John"}, {"credit_id": "52fe4232c3a36847f800b5a3", "department": "Art", "gender": 1, "id": 4032, "job": "Set Decoration", "name": "Cheryl Carasik"}, {"credit_id": "52fe4232c3a36847f800b5a9", "department": "Costume & Make-Up", "gender": 0, "id": 4033, "job": "Costume Design", "name": "Liz Dann"}, {"credit_id": "52fe4232c3a36847f800b5af", "department": "Costume & Make-Up", "gender": 1, "id": 4034, "job": "Costume Design", "name": "Penny Rose"}, {"credit_id": "56427ce8c3a3686a53000d8b", "department": "Sound", "gender": 2, "id": 5132, "job": "Music Supervisor", "name": "Bob Badami"}, {"credit_id": "55993c15c3a36855db002f33", "department": "Art", "gender": 2, "id": 146439, "job": "Conceptual Design", "name": "James Ward Byrkit"}, {"credit_id": "52fe4232c3a36847f800b5b9", "department": "Costume & Make-Up", "gender": 1, "id": 406204, "job": "Makeup Department Head", "name": "Ve Neill"}, {"credit_id": "56e47f7892514132690017bd", "department": "Crew", "gender": 2, "id": 1259516, "job": "Stunts", "name": "John Dixon"}, {"credit_id": "5740be639251416597000849", "department": "Crew", "gender": 0, "id": 1336716, "job": "CGI Supervisor", "name": "Dottie Starling"}, {"credit_id": "56427c639251412fc8000dc1", "department": "Directing", "gender": 1, "id": 1344278, "job": "Script Supervisor", "name": "Pamela Alch"}, {"credit_id": "57083101c3a3681d320004e6", "department": "Crew", "gender": 0, "id": 1368867, "job": "Special Effects Coordinator", "name": "Allen Hall"}, {"credit_id": "56427d5ec3a3686a62000d4a", "department": "Sound", "gender": 0, "id": 1368884, "job": "Music Editor", "name": "Melissa Muik"}, {"credit_id": "56427c7b9251412fd4000e07", "department": "Directing", "gender": 1, "id": 1395290, "job": "Script Supervisor", "name": "Sharron Reynolds"}, {"credit_id": "56427d2bc3a3686a53000d9b", "department": "Sound", "gender": 0, "id": 1399327, "job": "Music Editor", "name": "Barbara McDermott"}, {"credit_id": "56427cb4c3a3686a53000d87", "department": "Directing", "gender": 1, "id": 1400738, "job": "Script Supervisor", "name": "Karen Golden"}, {"credit_id": "56427d169251412fd4000e23", "department": "Sound", "gender": 0, "id": 1534197, "job": "Music Editor", "name": "Katie Greathouse"}]'

In [29]:
movies['crew'] = movies['crew'].apply(lambda x: [name['name'] for name in ast.literal_eval(x) if name['job'] == 'Director'])

In [30]:
movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
3768,6537,The Orphanage,A woman brings her family back to her childhoo...,"[Horror, Drama, Thriller]","[schizophrenia, suppressed past, wife]","[Belén Rueda, Fernando Cayo, Roger Príncep, Ma...",[Juan Antonio Bayona]
3177,6521,The Contender,Political thriller about Laine Hanson's nomina...,"[Drama, Thriller]","[politics, suspense]","[Gary Oldman, Joan Allen, Jeff Bridges, Christ...",[Rod Lurie]
995,9923,Domino,"The daughter of actor, Laurence Harvey turns a...","[Action, Crime]","[bounty hunter, fbi, weapon, spectacle]","[Keira Knightley, Mickey Rourke, Edgar Ramírez...",[Tony Scott]

### overview

- We can't merge a string column with a list column, so we need to convert the overview column from a string to a list.

In [31]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [39]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(" ","") for i in x])

##### Now, merge the overview, genres, keywords, cast, and crew columns to create a tag column.

In [40]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [42]:
movies.drop(columns=['overview','genres','keywords','cast','crew'],inplace=True)

In [43]:
movies

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [45]:
movies['tags'] = movies['tags'].apply(lambda x : ' '.join(x))

In [46]:
movies

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

#### Now, we use PorterStemmer to get words in their root form.

In [56]:
from nltk.stem  import PorterStemmer
ps = PorterStemmer()

In [60]:
def word_stem(tag): 
    L = []
    for i in tag.split():
        stem_word = ps.stem(i)
        L.append(stem_word)
    
    return " ".join(L)

In [62]:
movies['tags'] = movies['tags'].apply(word_stem)

In [63]:
movies.sample(3)

,movie_id,title,tags
3863,252360,In the Name of the King III,"hazen kaine, an american contract killer live ..."
1625,11137,The Prince & Me,a fairi tale love-stori about pre-m student pa...
1904,18147,Unaccompanied Minors,five dispar kid snow in at the airport on chri...

#### Now, we use CountVectorizer to convert text into a matrix of token counts.

In [64]:
from sklearn.feature_extraction.text import CountVectorizer

In [65]:
cv = CountVectorizer(stop_words='english',max_features=5000)

In [68]:
vectors = cv.fit_transform(movies['tags']).toarray()

In [71]:
vectors[1]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [73]:
vectors.shape

(4806, 5000)

#### Now, we use cosine_similarity to check the angle between the vectors we obtained previously, which helps in recommending movies.

In [74]:
from sklearn.metrics.pairwise import cosine_similarity

In [75]:
CS = cosine_similarity(vectors)

In [95]:
movies_list = sorted(list(enumerate(CS[0])),reverse=True,key= lambda x : x[1])[1:6]

In [ ]:
movies.iloc[1216].title

In [151]:
for i in movies_list:
    print(movies.iloc[i[0]].title)
    print(i)
    print(movies.iloc[i[0]].movie_id)

Aliens vs Predator: Requiem
(1216, 0.2926585541394632)
440
Independence Day
(507, 0.26130213378560535)
602
Falcon Rising
(3730, 0.25732511773283273)
270938
Battle: Los Angeles
(582, 0.2484013136974297)
44943
Titan A.E.
(539, 0.24659848095803594)
7450

In [118]:
def recommend_movie(movie_name):
    index = movies[movies['title'] == movie_name].index[0]
    movies_list = sorted(list(enumerate(CS[index])),reverse=True,key= lambda x : x[1])[1:6]
    for title in movies_list:
        print(movies.iloc[title[0]].title)

In [128]:
recommend_movie('Hulk')

Godzilla 2000
Transformers: Age of Extinction
The Incredible Hulk
The Island of Dr. Moreau
Super

In [129]:
import pickle

In [131]:
pickle.dump(movies,open('movies.pkl','wb'))

In [139]:
movies = pickle.load(open('movies.pkl','rb'))

In [144]:
pickle.dump(CS,open('CS.pkl','wb'))